.message-box {
  text-align: center;
}

.hit-button,
.stand-button {
 visibility: hidden;
}

.card {
  float: left;
  border: solid 1px black;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-right: 20px;
  background-size: contain;
}

.covered {
  text-indent: -9999;
  background-image: url(../img/card-back.png);
}

.hand {
  overflow: auto;
}
